# Data Collection Sample

This sample demonstrates how users can extract data from the simulation. The data collection interface was inspired by [Mesa's data collection API](https://mesa.readthedocs.io/en/latest/apis/datacollection.html). Data collection is a very important feature of agent-based simulations. Usually, we want to measure some internal dynamics of the simulation. Neighborly's DataCollector resource helps users aggregate all their data tables into a single location.

This example tracks the wealth (amount of money) that characters have and prints the contents of the data table when the simulation concludes. Data tables are exported as Pandas DataFrames to help Neighborly integrate with existing Python data science workflows.

Here we collect data within a custom simulation system. Neighborly has a `DataCollectionSystemGroup`, which encapsulates and runs all the systems responsible for collecting data.

## Import dependencies

In [1]:
from dataclasses import dataclass
from typing import Any, Dict

from tqdm.notebook import trange

from neighborly import (
    Component,
    Neighborly,
    NeighborlyConfig,
    SimDateTime,
    SystemBase,
    World,
)
from neighborly.data_collection import DataCollector
from neighborly.decorators import component, system
from neighborly.systems import DataCollectionSystemGroup, UpdateSystemGroup

## Create our simulation instance

In [2]:
sim = Neighborly(NeighborlyConfig(seed=101))

## Create custom components and systems

We use the `@component` and `@system` decorators to easily add these class definitions to the simulation. Alternatively, we would use `sim.world.gameobject_manager.register_component(...)` and `sim.world.system_manager.add_system(...)`.

In [3]:
@component(sim.world)
@dataclass
class Actor(Component):
    name: str

    def to_dict(self) -> Dict[str, Any]:
        return {"name": self.name}


@component(sim.world)
@dataclass
class Money(Component):
    amount: int

    def to_dict(self) -> Dict[str, Any]:
        return {"amount": self.amount}


@component(sim.world)
@dataclass
class Job(Component):
    title: str
    salary: int

    def to_dict(self) -> Dict[str, Any]:
        return {"title": self.title, "salary": self.salary}


@system(sim.world, system_group=UpdateSystemGroup)
class SalarySystem(SystemBase):
    def on_update(self, world: World) -> None:
        for _, (job, money) in world.get_components((Job, Money)):
            money.amount += job.salary


@system(sim.world, system_group=DataCollectionSystemGroup)
class WealthReporter(SystemBase):
    def on_create(self, world: World) -> None:
        world.resource_manager.get_resource(DataCollector).create_new_table(
            "wealth", ("uid", "name", "year", "money")
        )

    def on_update(self, world: World) -> None:
        year = world.resource_manager.get_resource(SimDateTime).year
        data_collector = world.resource_manager.get_resource(DataCollector)
        for guid, (actor, money) in world.get_components((Actor, Money)):
            data_collector.add_table_row(
                "wealth",
                {
                    "uid": guid,
                    "name": actor.name,
                    "year": year,
                    "money": money.amount,
                },
            )

## Spawn characters

We spawn two characters into the simulation and give them `Money` and `Job` components so that they qualify for the `SalarySystem`.

In [4]:
alice = sim.world.gameobject_manager.spawn_gameobject(
    [Actor("Alice"), Money(0), Job("WacArnold's", 20_000)]
)

kieth = sim.world.gameobject_manager.spawn_gameobject(
    [Actor("Kieth"), Money(0), Job("McDonald's", 32_500)]
)

## Run the simulation

In [5]:
YEARS = 30

for _ in trange(YEARS):
    sim.step()

  0%|          | 0/30 [00:00<?, ?it/s]

## Display the wealth data

In [6]:
sim.world.resource_manager.get_resource(DataCollector).get_table_dataframe("wealth")

    uid   name  year   money
0     1  Alice     1       0
1     2  Kieth     1       0
2     1  Alice     2   20000
3     2  Kieth     2   32500
4     1  Alice     3   40000
5     2  Kieth     3   65000
6     1  Alice     4   60000
7     2  Kieth     4   97500
8     1  Alice     5   80000
9     2  Kieth     5  130000
10    1  Alice     6  100000
11    2  Kieth     6  162500
12    1  Alice     7  120000
13    2  Kieth     7  195000
14    1  Alice     8  140000
15    2  Kieth     8  227500
16    1  Alice     9  160000
17    2  Kieth     9  260000
18    1  Alice    10  180000
19    2  Kieth    10  292500
20    1  Alice    11  200000
21    2  Kieth    11  325000
22    1  Alice    12  220000
23    2  Kieth    12  357500
24    1  Alice    13  240000
25    2  Kieth    13  390000
26    1  Alice    14  260000
27    2  Kieth    14  422500
28    1  Alice    15  280000
29    2  Kieth    15  455000
30    1  Alice    16  300000
31    2  Kieth    16  487500
32    1  Alice    17  320000
33    2  Kieth    17  520000
34    1  Alice    18  340000
35    2  Kieth    18  552500
36    1  Alice    19  360000
37    2  Kieth    19  585000
38    1  Alice    20  380000
39    2  Kieth    20  617500
40    1  Alice    21  400000
41    2  Kieth    21  650000
42    1  Alice    22  420000
43    2  Kieth    22  682500
44    1  Alice    23  440000
45    2  Kieth    23  715000
46    1  Alice    24  460000
47    2  Kieth    24  747500
48    1  Alice    25  480000
49    2  Kieth    25  780000
50    1  Alice    26  500000
51    2  Kieth    26  812500
52    1  Alice    27  520000
53    2  Kieth    27  845000
54    1  Alice    28  540000
55    2  Kieth    28  877500
56    1  Alice    29  560000
57    2  Kieth    29  910000
58    1  Alice    30  580000
59    2  Kieth    30  942500